# Backend
backend/.env
backend/tmp/
backend/*.exe
backend/*.exe~
backend/*.log
backend/backend.dev*.log

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env*.local
frontend/*.log
frontend/frontend.dev*.log

# Mobile
mobile/android/.kotlin/
mobile/*.ipa

# Root
node_modules/
passwords.txt
.claude/
*.pem
~$*
firebase/
.aws/
appcerts/
api test/

# OS
.DS_Store
Thumbs.db
